// IMPORT 
@use 'sass:math';
@use "sass:color";
// IMPORT 

// ПЕРЕМЕННЫЕ 
$basicColor: #1A1A1A;
$contrastColor: #333333;
$accentColor: #08E7C5;
$fontColor: #747474;
$font1: 'Montserrat';
$font_size: 1.1vw;
$mfont_size: 3.5vw;
// ПЕРЕМЕННЫЕ 

// МИКСИНЫ
@mixin text($font_size: 100%, $weight: 400, $color: $fontColor, $fontName: $font1) {
  & {
    font-size: math.div($font_size, 100%) * $font_size;
    font-family: $fontName;
    font-weight: $weight;
    color: $color;
  }

  @media screen and (max-width: 800px) {
    & {
      font-size: math.div($mfont_size, 100%) * $font_size;
    }
  }
}

@mixin box($width: 100%, $padding: 0%, $height: auto, $margin_top: 0) {
  & {
    width: math.div($width - $padding * 2, 1);
    padding-left: $padding;
    padding-right: $padding;
    margin-top: $margin_top;
    height: $height;
  }

  @media screen and (max-width: 800px) {
    & {
      width: 100%;
      padding: 0;
    }
  }
}

@mixin img_box($width, $height: auto, $fit: cover, $outline: unset) {
  & {
    width: $width;
    height: $height;
    outline: $outline;
    outline-offset: -2px;

    img {
      object-fit: $fit;
      height: 100%;
      width: 100%;
    }
  }

  @media screen and (max-width: 800px) {
    & {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      flex-grow: -1;
    }
  }
}

@mixin background($gradientMask, $url, $maskColor1, $maskColor2, $opacity) {
  @if $gradientMask ==true {
    $rgba_color1: rgba(color.channel($maskColor1, "red"), color.channel($maskColor1, "green"), color.channel($maskColor1, "blue"), $opacity);
    $rgba_color2: rgba(color.channel($maskColor2, "red"), color.channel($maskColor2, "green"), color.channel($maskColor2, "blue"), $opacity);

    & {
      background: linear-gradient($rgba_color1, $rgba_color2), url($url);
    }
  }
}

@mixin background_img($url, $gradientMask: false, $maskColor1: #000, $maskColor2: #000, $opacity: 0.45) {
  & {
    background: url($url);

    @include background($gradientMask, $url, $maskColor1, $maskColor2, $opacity);

    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
}

@mixin img__mask($opacity: 60%, $color: $color1) {
  & {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($color, $opacity);
    z-index: 2;
  }
}

@mixin closer__btn {
  & {
    cursor: pointer;
    width: math.div(2, 1) * 1.2vw;
    height: math.div(2, 1) * 1.2vw;
    position: absolute;
    right: 1vw;
    top: 1vw;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: url(../img/close.png), $color3;
    background-size: 70% 70%;
    background-color: $color1;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 999;

    @media screen and (max-width: 800px) {
      & {
        width: math.div(8, 1) * 1.2vw;
        height: math.div(8, 1) * 1.2vw;
      }
    }
  }
}

@mixin flex__box($direction: row, $align_items: unset, $justify_content: unset) {
  & {
    display: flex;
    flex-direction: $direction;
    align-items: $align_items;
    justify-content: $justify_content;
  }
}

@mixin h2__decor($colorShadow, $color) {
  text-shadow: 2px 2px 3px $colorShadow;
  text-transform: uppercase;
  letter-spacing: 5px;

  @include text(170%, 600, $color);
}

// МИКСИНЫ

/* BASIC */
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Thin.ttf);
  font-weight: 200;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  box-sizing: content-box;
}

strong {
  font-weight: 600;
}

body {
  max-width: 100vw;
  overflow: hidden;
  overflow-y: auto;
  background-color: #F7F7F7;
}

a {
  text-decoration: none;
  color: inherit;
  width: auto;
  height: auto;
}

table {
  border: none;
  border-collapse: collapse;
}

div {
  display: block;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: 'Montserrat';
}

img {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

span {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

p {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

ul {
  margin-top: 0.3vw;
  margin-left: 1%;
}

ul,
li {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

nav {
  display: flex;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

/* BASIC */


// ******************************** HEADER ******************************** \\

.header__logo__wrapper {
  width: auto;

  @media screen and (max-width: 800px) {
    width: 20%;
  }

  & .custom-logo-link {
    display: block;
    padding: 1vh 0;
  }


  & .header__logo__name {
    text-transform: uppercase;
    @include text(150%, 800, #FFF);

    @media screen and (max-width: 800px) {
      width: auto;
      text-align: center;
    }
  }
}

.header__line__block {
  background-color: $basicColor;
  position: fixed;
  padding: 0.5vw 2.5%;
  left: 0;
  top: -100px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
  transition: .4s;
  z-index: 999;

  @include box(100%, 2.5%);
  @include flex__box(row, center, space-between)
}

@media screen and (max-width: 800px) {
  .header__line__block {
    flex-direction: column;
    width: 95%;
    padding: 2vw 2.5%;
    top: 0;
  }
}

.header__line__box {
  width: 100%;

  @include flex__box(row, center, space-between);
}

.language__box{
  padding-right: 4%;
}

.burger__menu {
  display: none;

  @media screen and (max-width: 800px) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 8vw;
    height: 5vw;
    padding: 0;

    & span {
      position: absolute;
      width: 100%;
      height: 1vw;
      background-color: #FFF;
      transition: 0.3s;
      border-radius: 5px;
    }

    & span:nth-child(1) {
      top: 0;
    }

    & span:nth-child(2) {
      width: 80%;
      top: 50%;
      transform: translateY(-50%);
    }

    & span:nth-child(3) {
      bottom: 0;
    }

    &.activeCloser span:nth-child(1) {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }

    &.activeCloser span:nth-child(2) {
      opacity: 0;
    }

    &.activeCloser span:nth-child(3) {
      bottom: 50%;
      transform: translateY(50%) rotate(-45deg);
    }
  }
}

.menu__nav {
  width: auto;

  @media screen and (max-width: 800px) {
    display: none;
    width: 100%;
    align-items: center;
    padding: 2vw 0;
  }
}

.header__menu__box {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2vw;

  // @include box(100%, 2%);
  @include flex__box(row, center, flex-end);

  @media screen and (max-width: 800px) {
    @include flex__box(column, center);
  }

  & li {
    transition: .7s;

    @include text(100%, 600, $fontColor);

    &:hover {
      color: #FFF;
    }
  }

  & .active__menu__item {
    transition: .7s;
    color: #FFF;
  }
}

.header__content__block {
  padding: 5vw 2.5%;
  border-bottom: 5px solid #0001;

  @include background_img('../img/header.jpg', true, #000, #000, 0.5);
  @include box(100%, 2.5%, 100dvh);
  @include flex__box(column, flex-start, center);

  @media screen and (max-width: 800px) {
    width: 95%;
    padding: 10vw 2.5%;
  }
}

.header__content__block {
  background-attachment: fixed;
  background-size: auto 175%;
  background-position: center center;
  background-repeat: no-repeat;

  @media screen and (max-width: 800px) {
    background-size: auto 100%;
  }
}

.header__content__company__box {
  gap: 1vw;

  @include box(50%);
  @include flex__box(column, flex-start);

  @media screen and (max-width: 800px) {
    align-items: center;
    gap: 4vw;
  }

  & .header__company__title {
    text-transform: uppercase;
    text-shadow: 0px 0px 5px $basicColor;

    @include text(160%, 800, #FFF);
  }

  & .header__company__description {
    text-shadow: 0px 0px 1px #FFF7;

    @include text(120%, 600, #FFF9);
  }

  & .header__company__btn {
    padding: 0.5vw 1vw;
    background-color: $contrastColor;
    border-radius: 10px;
    box-shadow: 5px 5px 0px $basicColor;
    transition: .4s;
    cursor: pointer;

    @include text(140%, 600, #FFF);

    &:hover {
      box-shadow: unset;
      color: $accentColor;
    }

    @media screen and (max-width: 800px) {
      padding: 2vw 3vw;
      box-shadow: 10px 10px 0px $basicColor;
    }
  }
}

// ******************************** HEADER ******************************** \\

// ******************************** HEADER MODAL ******************************** \\

.modal__window__block {
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100%;
  height: 100dvh;
  z-index: 998;

  @include flex__box(column, center, center);

  & .modal__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.6);
  }

}

.modal__window__box {
  @include box(70%, 0, 60dvh);

  @media screen and (max-width: 800px) {
    width: 95%;
    padding: 0 2.5%;
  }

  & .modal__closer {
    @include box(100%);
    @include flex__box(column, flex-end, flex-end);

    & i {
      position: relative;
      bottom: -0.5vh;
      right: 0;
      padding: 0.5vh 1vw;
      padding-bottom: 1vh;
      border-radius: 10px 10px 0 0;
      background: linear-gradient(to right,
          #555,
          #666);
      z-index: 998;
      cursor: pointer;
      transition: .2s;

      @include text(150%, 800, #FFF, "Font Awesome 6 Free");

      @media screen and (max-width: 800px) {
        padding: 0.5vh 2.5vw;
      }

      &:hover {
        bottom: 0;
        color: red;
      }
    }
  }
}

.modal__window__form {
  position: relative;
  background: linear-gradient(to right,
      #222,
      #333,
      #444,
      #555,
      #666);
  padding: 1vh 2.5%;
  overflow: auto;
  z-index: 999;

  @include box(100%, 2.5%, 100%);

  @media screen and (max-width: 800px) {
    width: 95%;
    padding: 3vh 2.5%;
  }

  & .wpforms-container-full {
    margin: unset !important;
  }

  & form {
    @include box(100%);
    @include flex__box(column, center);



    & .wpforms-field-container {
      flex-wrap: wrap;
      gap: 1vh;

      @include flex__box(row, center, space-between);
    }

    & .contact__form__input {
      @include box(32%);

      @media screen and (max-width: 1200px) {
        width: 100%;
      }
    }

    & .contact__form__textarea {
      @include box(100%);

      @media screen and (max-width: 1200px) {
        width: 100%;
      }
    }

    & .wpforms-field {
      padding: 0;
    }

    & .wpforms-field>textarea {
      resize: unset !important;
    }

    & .wpforms-field>input,
    & .wpforms-field>textarea {
      margin: 2vh 0;
      padding: 1vh 2% !important;
      height: 100%;
      font-size: 1.3vw !important;
      font-weight: 600;
      color: #FFF !important;
      background-color: unset !important;
      outline: 1px solid #FFF7;
      outline-offset: -1px;
      transition: .4s !important;

      @media screen and (max-width: 1200px) {
        font-size: 2vw !important;
      }
    }

    & input::placeholder,
    & textarea::placeholder {
      color: #FFF !important;
    }

    & input:focus,
    & textarea:focus {
      outline: 1px solid #FFF !important;
      outline-offset: -1px !important;
      border: unset !important;
      background-color: #FFF1 !important;
    }

    & em.wpforms-error {
      position: absolute !important;
      bottom: -5px;
    }

    & .wpforms-field-gdpr-checkbox {

      & label {
        color: #FFF !important;
      }

      & .wpforms-field-required {
        margin-bottom: 1.5vw;
      }
    }

    & .wpforms-submit {
      margin-top: 5vh;
      height: 100%;
      padding: 2vh 2vw;
      text-transform: uppercase;
      font-weight: 800;
      background-color: unset !important;
      outline: 1px solid #FFF3;
      outline-offset: -1px;
      transition: .4s;

      @media screen and (max-width: 800px) {
        padding: 2vh 4vw;
      }

      &:hover {
        color: #000;
        background-color: #D8D8D8 !important;
      }

      &:focus::after {
        border: unset !important;
        outline: 1px solid #FFF3;
        outline-offset: -1px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      &:focus {
        transform: scale(0.9);
      }
    }
  }
}

// ******************************** HEADER MODAL ******************************** \\

// ******************************** ABOUT__US ******************************** \\

.about__us__block {
  gap: 5%;
  padding: 4vw 7.5%;

  @include flex__box(row, stretch);
  @include box(100%, 7.5%);

  @media screen and (max-width: 800px) {
    flex-direction: column;
    width: 95%;
    padding: 5vw 2.5%;
  }
}

.about__us__content {
  gap: 2vw;
  padding-bottom: 7.5vw;

  @include box(47.5%);
  @include flex__box(column);

  @media screen and (max-width: 800px) {
    gap: 5vw;
  }

  & span {
    text-transform: uppercase;
    letter-spacing: 5px;

    @include text(120%, 600, #DBDBDA, 'ROBOTTO');
  }
}

.about__us__wrapper__img {
  width: 3vw;
  height: auto;

  & i {
    font-size: 3vw;
    color: #0003;

    @media screen and (max-width: 800px) {
      font-size: 8vw;
    }
  }
}

.about__us__title {
  @include h2__decor(#000, #000);
}

.about__us__description {
  @include text(110%, 400, $fontColor);
}

.advantages__circle__box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  @include box(47.5%);
}

.advantages__circle {
  position: relative;
  max-width: 400px;
  max-height: 400px;
  min-width: 28vw;
  min-height: 28vw;
  outline: 1px solid #000;
  background-color: #FFF;
  gap: 1vw;
  border-radius: 50%;

  @include flex__box(column, center, center);

  @media screen and (max-width: 800px) {
    display: none;
  }
}

.advantages__items__box {
  position: absolute;
  width: 100%;
  height: 100%;
}

.advantages__circle__content {
  background-color: $basicColor;
  border-radius: 50%;
  aspect-ratio: 1 / 1;

  @include flex__box(column, center, center);
  @include box(20vw, 0);
}

.advantages__title {
  text-align: center;
  transition: 1s;

  @include box(95%);
  @include text(120%, 800, #FFF);
}

.advantages__description {
  text-align: center;
  transition: 1s;

  @include box(90%);
  @include text(100%, 600, #FFF);
}

@keyframes advantages {
  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1.2);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.adv__active {
  animation: advantages 3s linear infinite;
}


.advantages__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 3em;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s;

  & img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.advantages__mobile {
  display: none;

  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
    gap: 8vw;
  }
}

.advantages__mobile__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5%;

  & .advantages__mobile__wrapper__img {
    position: relative;
    width: 8vw;
    align-self: flex-start;
    padding: 2vw;
    overflow: hidden;
    background-color: #000;
    border-radius: 50%;
    z-index: 2;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: invert(1);
    }

  }
}

.advantages__mobile__left__box {
  position: relative;
  width: 20%;

  & .advantages__mobile__stick {
    position: absolute;
    width: 0.5vw;
    height: 100%;
    top: 4vw;
    left: 4vw;
    background-color: #333;
    z-index: 1;
  }
}

.advantages__mobile__content {
  width: 70%;
  padding: 3vh 2.5%;
  background-color: #000;
  color: #FFF;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

// ******************************** ABOUT__US ******************************** \\


// ******************************** WHY__US ******************************** \\

.why__us__block {
  position: relative;
  padding: 8vw 0;
  overflow: hidden;

  @include flex__box(column, center, center);
  @include box(100%);
}

.why__us__background__wrapper {
  position: absolute;
  background-size: cover;
  transition: transform .2s ease-out;
  width: 100%;
  height: 100%;
}

.why__us__background {
  @include background_img('../img/why_us.jpg', true, #000, #000, 0.5);
}

.why__us__background {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: 10% 30% !important;
  transform: translateZ(-1px);

}

.why__us__title {
  text-transform: uppercase;
  text-align: center;

  @include h2__decor(#FFF, #FFF);
}

.why__us__content {
  position: relative;
  z-index: 2;

  @include box(60%);
  @include flex__box(column, center);

  @media screen and (max-width: 800px) {
    padding: 5vw 0;
  }
}

.why__us__slider__block {
  cursor: grab;

  @include box(100%, 0, auto, 5vw);

  @media screen and (max-width: 800px) {
    width: 95%;
    padding: 0 2.5%;
  }

  & .slick-slide {
    margin: 0 40px;
    box-sizing: border-box;
  }
}

.why__us__slider__block.slick-slider {
  @include flex__box(row, center, center);
}

.slick-list {
  @include box(100%, 2.5%);
}

.slick-prev:before,
.slick-next:before {
  content: '' !important;
}

.slick-prev {
  @media screen and (max-width: 800px) {
    left: -2.5% !important;
  }
}

.slick-next {
  @media screen and (max-width: 800px) {
    right: -2.5% !important;
  }
}

.slick-arrow img {
  position: absolute;

  @include img_box(1vw);
}

.why__us__slider__item {
  @include box(25%);
}

.why__us__item__content {
  gap: 1vw;

  @include box(100%);
  @include flex__box(column, center);


  & i {
    color: #FFF;
    font-size: 2vw;

    @media screen and (max-width: 800px) {
      font-size: 5vw;
    }
  }

  & .why__us__slider__title {
    text-align: center;

    @include text(120%, 600, #FFF);
  }

  & .why__us__slider__description {
    text-align: center;

    @include text(100%, 400, $fontColor);
  }
}


// ******************************** WHY__US ******************************** \\

// ******************************** SERVICES ******************************** \\

.services__block {
  @include box(100%);
}

.services__box {
  @include box(100%);
  @include flex__box(column);
}

.services__item {
  padding: 0;
  gap: 8vw;

  @include flex__box(row, stretch);

  @media screen and (max-width: 800px) {
    flex-direction: column;
    gap: 5vw;
  }
}

.services__left {
  position: relative;
  left: -100vw;

  @media screen and (max-width: 800px) {
    left: 0;
  }
}

.services__content {
  padding-top: 7vw;
  gap: 0.5vw;

  @include box(35%);
  @include flex__box(column, flex-start);

  @media screen and (max-width: 800px) {
    width: 95%;
    padding: 1vw 2.5%;
  }

  &>span {
    letter-spacing: 5px;
    text-shadow: 2px 2px 5px #DBDBDA;

    @include text(130%, 600, #DBDBDA, 'ROBOTTO');

    @media screen and (max-width: 800px) {
      font-size: 4vw;
    }
  }
}

.services__content__title {
  text-transform: uppercase;

  @include text(135%, 800, $basicColor);

  @media screen and (max-width: 800px) {
    font-size: 4.5vw;
  }

  & span {
    text-shadow: 0px 0px 1px $basicColor;

    @include text(120%, 800, $basicColor);

    @media screen and (max-width: 800px) {
      font-size: 4.5vw;
    }
  }
}

.services__content__description {
  margin: 2vw 0;

  @include text(110%, 600, $fontColor);

  @media screen and (max-width: 800px) {
    font-size: 3.5vw;
  }
}

.services__wrapper__img {
  @include img_box(50%);

  @media screen and (max-width: 800px) {
    height: 45vh;
  }

  & img {
    filter: grayscale(90%);
  }
}

.services__btn {
  text-transform: uppercase;
  box-shadow: 10px 5px 5px $basicColor;
  padding: 0.5vw 1.5vw;
  background-color: $basicColor;
  transition: .4s;
  cursor: pointer;

  @include text(110%, 600, #FFF);

  @media screen and (max-width: 800px) {
    font-size: 3.5vw;
  }

  &:hover {
    color: $accentColor;
    box-shadow: unset;
  }
}

.services__right {
  position: relative;
  right: -100vw;
  flex-direction: row-reverse;

  @media screen and (max-width: 800px) {
    right: 0;
    flex-direction: column-reverse;
  }

  & .services__content {
    text-align: right;
    align-items: flex-end;
  }
}

// ******************************** SERVICES ******************************** \\

// ******************************** QUESTIONS ******************************** \\

.questions__block {
  background-color: #000;
  padding: 6vw 0;

  @include flex__box(column, center);
  @include box(100%);

  @media screen and (max-width: 800px) {
    padding: 5vw 0;
  }
}

.questions__content {
  gap: 1vw;

  @include box(100%);
  @include flex__box(column, center);

  @media screen and (max-width: 800px) {
    gap: 3vw;
  }
}

.questions__title {
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 0px 0px 3px #FFF;

  @include text(140%, 600, #FFF);

  @media screen and (max-width: 800px) {
    font-size: 4.5vw;
  }

  & span {
    font-size: 0.7vw;

    @media screen and (max-width: 800px) {
      font-size: 4vw;
    }
  }
}

.questions__subtitle {
  text-align: center;
  text-shadow: 0px 0px 2px #FFF9;

  @include box(60%);
  @include text(110%, 400, #fff9);

  @media screen and (max-width: 800px) {
    font-size: 3vw;
  }
}

.questions__btn {
  margin-top: 1vw;
  padding: 0.3vw 0.5vw;
  border: 3px solid #FFF;
  background-color: unset;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: .4s;

  @include text(95%, 800, #FFF);

  @media screen and (max-width: 800px) {
    font-size: 3vw;
    padding: 0.5vw 1.5vw;
  }

  &:hover {
    background-color: #FFF;
    color: #000;
  }
}


// ******************************** QUESTIONS ******************************** \\


// ******************************** PORTFOLIO ******************************** \\

.portfolio__block {
  @include box(100%, 0, auto, 4vw);
  @include flex__box(column, center);
}

.portfolio__heade__box {
  gap: 1vw;

  @include flex__box(column, center);
  @include box(50%);

  &>span {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 2vw;
    text-shadow: 0px 0px 2px #DBDBDA;

    @include text(120%, 600, #DBDBDA, 'ROBOTTO');
  }
}

.separator__line {
  width: 2px;
  height: 55px;
  background-color: $fontColor;
}

.portfolio__title {
  text-transform: uppercase;

  @include h2__decor(#000, #000);
}

.portfolio__subtitle {
  text-align: center;
  margin-top: 1vw;

  @include text(100%, 600, $fontColor);
}

.portfolio__categories__box {
  gap: 3vw;

  @include flex__box(column, center);
  @include box(100%, 0, auto, 3vw);
}

.category__line {
  gap: 1vw;

  @include flex__box(row, center);
}

.category__item__title {
  text-transform: uppercase;
  cursor: pointer;
  transition: .4s;

  @include text(110%, 800, $fontColor);

  &:hover {
    color: #000;
  }
}

.category__active {
  color: #000;
}

.category__content__box {
  flex-wrap: wrap;

  @include flex__box(row);
  @include box(100%);

  @media screen and (max-width: 800px) {
    justify-content: space-around;
    align-items: flex-start;
    align-content: baseline;
    gap: 1vw;
  }
}

.category__product {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  @include box(25%, 0, 20vw);

  @media screen and (max-width: 800px) {
    width: 47.5%;
    flex-direction: column;
    height: auto;
    flex-grow: 0;
  }

  &:hover .category__product__content__box {
    bottom: 0;
  }

  &:hover .category__product__wrapper__img {
    top: -3vw;
  }
}

.category__product__wrapper__img {
  position: relative;
  top: 0;
  left: 0;
  transition: 0.4s;

  @include img_box(100%, 100%);

  @media screen and (max-width: 800px) {
    height: 40vw;
  }
}

.category__product__content__box {
  position: absolute;
  left: 0;
  bottom: -3vw;
  padding: 0.5vw 2.5%;
  background-color: #000;
  transition: 0.4s;

  @include box(100%, 2.5%, 3vw);
  @include flex__box(column, center, center);

  @media screen and (max-width: 800px) {
    position: relative;
    height: auto;
    width: 95%;
    padding: 1vw 2.5%;
    bottom: 0;
  }
}

.category__product__title {
  @include text(100%, 800, #FFF);
}

.category__product__subtitle {
  @include text(90%, 600, $fontColor);
}

.portfolio__archive__link {
  margin-top: 3vh;
  text-transform: uppercase;
  box-shadow: 10px 5px 5px #1A1A1A;
  padding: 0.5vw 1.5vw;
  background-color: #1A1A1A;
  transition: 0.4s;
  cursor: pointer;

  @include text(110%, 600, #FFF);

  @media screen and (max-width: 800px) {
    font-size: 3.5vw;
  }

  &:hover {
    color: $accentColor;
    box-shadow: unset;
  }
}

// ******************************** PORTFOLIO ******************************** \\


// ******************************** REVIEWS ******************************** \\

.reviews__block {
  text-align: center;

  @include box(100%, 0, auto, 20vh);
  @include flex__box(column, center);

  & h2 {
    @include h2__decor(#000, #000);
  }
}

.customers__img__box {
  gap: 1vw 1%;

  @include box(100%, 0, auto, 10vh);
  @include flex__box(row, center, center);
}

.customer__wrapper__img {
  border-radius: 50%;
  opacity: 0.5;
  overflow: hidden;
  aspect-ratio: 3 / 3;
  cursor: pointer;
  transition: .4s;

  @include img_box(unset, unset);

  @media screen and (max-width: 800px) {
    width: 8vw;
  }

  &:hover {
    opacity: 1;
  }
}

.customer__active {
  position: relative;
  opacity: 1;

  &::after {
    content: '\f10e';
    position: absolute;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    top: 60%;
    left: 55%;
    color: #FFF;
    font-size: 1vw;

    @media screen and (max-width: 800px) {
      font-size: 4vw;
    }
  }
}

.customers__review__box {
  gap: 0.3vw;
  margin-bottom: 10vh;
  text-align: center;

  @include box(60%, 2.5%, auto, 5vh);
  @include flex__box(column, center);

  @media screen and (max-width: 800px) {
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }

  & .customer__review__content {
    @include text(100%, 600, $basicColor);
  }

  & .customer__review__fullname {
    margin-top: 3vh;

    @include text(110%, 600, $basicColor);
  }

  & .customer__review__profession {
    @include text(100%, 600, #DBDBDA);
  }
}

.separator__stick {
  background-color: #DBDBDA;
  box-shadow: 0px -1px 5px #DBDBDA;

  @include box(40%, 0, 0.1vh);

  @media screen and (max-width: 800px) {
    width: 40%;
  }
}

// ******************************** REVIEWS ******************************** \\


// ******************************** MANUFACTURERS ******************************** \\

.manufacturers__block {
  gap: 5%;
  padding: 10vh 2.5%;

  @include box(100%, 2.5%);
  @include flex__box(row, center, center);

  @media screen and (max-width: 800px) {
    width: 95%;
    padding: 10vh 2.5%;
    flex-direction: column;
  }
}

.manufacturer__wrapper__img {
  aspect-ratio: 1/1;

  @include img_box(10%);

  @media screen and (max-width: 800px) {
    width: 55%;
    aspect-ratio: unset;
  }
}

// ******************************** MANUFACTURERS ******************************** \\


// ******************************** CONTACT__FORM ******************************** \\

.contact__form__block {
  padding: 0vh 2.5%;
  padding-top: 8vh;
  gap: 5vh;
  background-color: #101010;

  @include box(100%, 2.5%);
  @include flex__box(column, center);

  @media screen and (max-width: 800px) {
    width: 95%;
    padding: 0vh 2.5%;
    padding-top: 8vh;
  }
}

.contact__form__headers {
  gap: 2vh;

  @include box(100%);
  @include flex__box(column, center);

  & i {
    font-size: 3em;
    color: #FFF;
    font-weight: 400;
  }

  &>span {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 2vh;
    text-shadow: 0px 0px 2px #DBDBDA;

    @include text(100%, 600, #DBDBDA, 'ROBOTTO');

    @media screen and (max-width: 800px) {
      font-size: 2.5vw;
    }
  }

  & h2 {
    @include h2__decor(#FFF, #FFF);
  }
}

.contact__details__box {
  position: relative;
  padding-bottom: 8vh;
  gap: 5%;

  @include box(100%, 0, auto, 5vh);
  @include flex__box(row, flex-start, center);

  @media screen and (max-width: 800px) {
    padding-bottom: 8vh;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
  }

  &::after {
    content: '';
    position: absolute;
    top: 99%;
    left: 50%;
    transform: translateX(-50%);
    width: 2.5em;
    aspect-ratio: 2/1;
    background-color: #101010;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    z-index: 3;
  }
}

.contact__details__item {
  gap: 2vh;

  @include box(20%);
  @include flex__box(column, center);

  @media screen and (max-width: 800px) {
    width: 60%;
    gap: 4vh;
  }

  & i {
    font-size: 2em;
    color: #FFF;
    font-weight: 600;
  }

  & .detail__item__text {
    text-align: center;

    @include text(100%, 600, #DBDBDA);

    @media screen and (max-width: 800px) {
      font-size: 2.5vw;
    }
  }
}

.contact__form__block .wpforms-container {
  @include box(80%);

  & .wpforms-confirmation-container-full {
    background: unset;
    padding: 10vh 0;
    border: unset;
    outline: 1px solid #FFF3;
    outline-offset: -1px;
    gap: 10vh;

    @include flex__box(column, center, center);

    & p {
      text-align: center;
      color: #DBDBDA;
    }

    & p::before {
      position: relative;
      content: '\f560';
      font-family: 'Font Awesome 6 Free';
      font-weight: 900;
      font-size: 2em;
      color: green;
      display: block;
      margin-bottom: 5vh
    }
  }

  & form {
    @include box(100%);
    @include flex__box(column, center);


    & .wpforms-field-container {
      flex-wrap: wrap;
      gap: 1vh;

      @include flex__box(row, center, space-between);
    }

    & .contact__form__input {
      @include box(32%);

      @media screen and (max-width: 1200px) {
        width: 100%;
      }
    }

    & .contact__form__textarea {
      @include box(100%);

      @media screen and (max-width: 1200px) {
        width: 100%;
      }
    }

    & .wpforms-field {
      padding: 0;
    }

    & .wpforms-field>input,
    & .wpforms-field>textarea {
      margin: 2vh 0;
      padding: 1vh 2% !important;
      height: 100%;
      font-size: 1.3vw !important;
      font-weight: 600;
      color: #FFF !important;
      background-color: unset !important;
      outline: 1px solid #FFF3;
      outline-offset: -1px;
      transition: .4s !important;

      @media screen and (max-width: 1200px) {
        font-size: 2vw !important;
      }
    }

    & input::placeholder,
    & textarea::placeholder {
      color: #FFF !important;
    }

    & input:focus,
    & textarea:focus {
      outline: 1px solid #FFF !important;
      outline-offset: -1px !important;
      border: unset !important;
      background-color: #FFF1 !important;
    }

    & em.wpforms-error {
      position: absolute !important;
      bottom: -5px;
    }

    & .wpforms-field-gdpr-checkbox {

      & label {
        color: #FFF !important;
      }

      & .wpforms-field-required {
        margin-bottom: 1.5vw;
      }
    }

    & .wpforms-submit {
      margin-top: 5vh;
      height: 100%;
      padding: 2vh 2vw;
      text-transform: uppercase;
      font-weight: 800;
      background-color: unset !important;
      outline: 1px solid #FFF3;
      outline-offset: -1px;
      transition: .4s;

      @media screen and (max-width: 800px) {
        padding: 2vh 4vw;
      }

      &:hover {
        color: #000;
        background-color: #D8D8D8 !important;
      }

      &:focus::after {
        border: unset !important;
        outline: 1px solid #FFF3;
        outline-offset: -1px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      &:focus {
        transform: scale(0.9);
      }
    }
  }
}

// ******************************** CONTACT__FORM ******************************** \\


// ******************************** CONTACT__FORM ******************************** \\

.map__block {
  position: relative;
  z-index: 2;

  @include box(100%);
  @include flex__box(row, stretch);

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.banner__box {
  position: relative;

  @include box(50%, 0, 60vh);
  @include flex__box(column, center, center);

  @media screen and (max-width: 800px) {
    height: auto;
    padding-top: 6vh;
    padding-bottom: 5vh;
    background-color: #171717;
  }

  & .banner__img {
    position: relative;
    z-index: 1;
    background-image: url('../img/banner__map.jpg');
    background-size: 215% auto;
    background-position: 5% 50%;
    background-repeat: no-repeat;
    filter: sepia(20%);

    @include box(100%, 0, 100%);

    @media screen and (max-width: 800px) {
      background-image: none;
    }
  }

  & .banner__mask__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#171717, 0.7);
    z-index: 2;
  }

  & .banner__content {
    position: absolute;
    text-align: end;
    gap: 2vh;
    z-index: 3;

    @include box(100%, 10%);
    @include flex__box(column, flex-end);

    @media screen and (max-width: 800px) {
      position: relative;
      text-align: center;
      align-items: center;
    }

    & span {
      text-transform: uppercase;
      letter-spacing: 5px;

      @include text(100%, 600, #33D1C8, 'ROBOTTO');

      @media screen and (max-width: 800px) {
        font-size: 4vw;
      }
    }

    & h2 {
      @include text(160%, 800, #FFF);

      @media screen and (max-width: 800px) {
        font-size: 3.5vw;
      }
    }
  }
}

.map__box {
  @include box(50%);

  @media screen and (max-width: 800px) {
    height: 40vh;
  }

  & iframe {
    width: 100%;
    height: 100%;
  }
}

// ******************************** CONTACT__FORM ******************************** \\


// ******************************** FOOTER ******************************** \\

footer {
  padding: 5vh 2.5%;
  gap: 3vh;

  @include box(100%, 2.5%);
  @include flex__box(column, center);

  @media screen and (max-width: 800px) {
    width: 95%;
    padding: 5vh 2.5%;
  }
}

.footer__logo__link__wrapper {
  width: auto;
  height: auto;

  & a {
    display: block;
  }
}

.footer__social__media__box {
  gap: 0.7vw;

  @include flex__box(row, stretch);

  @media screen and (max-width: 800px) {
    gap: 1.5vw;
  }

  & a {
    display: block;
  }

  & i {
    padding: 0.2vw;
    font-size: 1vw;
    color: #000;
    transition: .4s;

    @media screen and (max-width: 800px) {
      font-size: 4.5vw;
    }

    &:hover {
      color: #DBDBDA;
    }
  }
}

// ******************************** FOOTER ******************************** \\


// ******************************** SINGLE PRODUCT PAGE ******************************** \\


.single__product {
  @include box(100%);
  @include flex__box(column, center);
}

.single__product__header__box {
  position: relative;
  padding: 15vh 2.5%;

  @include flex__box(row, stretch, center);
  @include box(100%, 2.5%);

  @media screen and (max-width: 800px) {
    width: 95%;
    padding: 10vh 2.5%;
  }

  & h1 {
    text-transform: uppercase;

    @include h2__decor(#000, #000);
  }

  & .back__to__panel {
    position: absolute;
    bottom: 0;
    right: 0;
    gap: 2vw;
    padding-right: 2.5%;
    z-index: 1;

    @include flex__box(row, center);

    @media screen and (max-width: 800px) {
      width: 100%;
      padding: 0;
      justify-content: center;
    }

    & .back__to__btn {
      position: relative;
      bottom: -1vh;
      width: auto;
      padding: 1vh 1vw;
      padding-bottom: 2vh;
      border-radius: 20px 20px 0 0;
      background-color: #333333;
      gap: 1vw;
      transition: .4s;

      @include text(110%, 600, #FFF);
      @include flex__box(row, center);

      &:hover {
        bottom: 0;
        color: $accentColor;

        &::before {
          color: $accentColor;
        }
      }
    }

    & .back__to__archive::before {
      content: '\f060';
      transition: .4s;

      @include text(100%, 600, #FFF, 'Font Awesome 6 Free')
    }

    & .back__to__home::before {
      content: '\f015';
      transition: .4s;

      @include text(100%, 600, #FFF, 'Font Awesome 6 Free')
    }
  }
}

.single__product__item__box {
  position: relative;
  background: linear-gradient(135deg, #333333, #1a1a1a);
  padding: 5vh 15%;
  gap: 5%;
  border-radius: 20px 20px 0 0;
  z-index: 2;

  @include box(100%, 15%);
  @include flex__box(row, stretch);

  @media screen and (max-width: 800px) {
    flex-direction: column;
    width: 95%;
    padding: 5vh 2.5%;
  }
}

.product__slider__container {
  @include box(45%);
  @include flex__box(column);
}

.single__product__slider-for {
  @include box(100%, 0, 50vh);
  @include flex__box(row);

  & .slick-list,
  & .slick-track {
    height: 100%;
  }

  & .product__slider-for__img {
    overflow: hidden;

    @include img_box(100%, 100%);

    & img {
      border-radius: 20px
    }
  }
}

.single__product__slider-nav {
  @include box(100%, 0, auto, 3vh);

  & .slick-list,
  & .slick-track {
    height: 100%;
  }

  & .slick-list {
    margin-bottom: 1vw;
  }

  & .product__slider-nav__img {
    @include img_box(auto, 20vh);

    @media screen and (max-width: 800px) {
      height: 20vh;
    }
  }

  & img {
    width: 98% !important;
    border-radius: 10px 10px 0 0;
    cursor: grab;
    opacity: 0.6;
    transition: 0.3s ease;
  }

  & .slick-current img {
    outline: 2px solid $accentColor;
    outline-offset: -2px;
    opacity: 1;
  }

  & .slick-dots li button:before {
    font-size: 2vw;
    color: rgba($accentColor, 0.7);

    @media screen and (max-width: 800px) {
      font-size: 4vw;
    }
  }

  & .slick-dots li.slick-active button:before {
    color: $accentColor;
  }
}

.single__product__item__content {
  gap: 2vh;

  @include box(50%);
  @include text(120%, 600, #FFF8);
  @include flex__box(column);

  @media screen and (max-width: 800px) {
    margin-top: 5vh;
  }
}

.nav__products__panel {
  position: relative;
  background-color: #000;

  @include box(100%, 2.5%, 10vh);
  @include flex__box(row, center, space-between);
}

.nav__products__arrow {
  position: absolute;
  text-align: center;
  gap: 1vw;
  cursor: pointer;
  transition: .4s;

  @include text(150%, 600, #FFF8);
  @include flex__box(row, center);

  &:hover {
    gap: 0.7vw;
    color: #FFF;
  }
}

.product__prev {
  left: 2vw;
  transition: .4s;


  &:hover {
    left: 1.5vw;
  }

  &::before {
    content: '\f191';

    @include text(100%, 600, #FFF, 'Font Awesome 6 Free');

    @media screen and (max-width: 800px) {
      font-size: 4.5vw;
    }
  }
}

.product__next {
  right: 2vw;
  transition: .4s;

  &:hover {
    right: 1.5vw;
  }

  &::after {
    content: '\f152';

    @include text(100%, 600, #FFF, 'Font Awesome 6 Free');

    @media screen and (max-width: 800px) {
      font-size: 4.5vw;
    }
  }
}

// ******************************** SINGLE PRODUCT PAGE ******************************** \\


// ******************************** 404 PAGE ******************************** \\

.error__page__block {
  @include box(100%, 0, 85dvh);
  @include flex__box(row, center);

  @media screen and (max-width: 800px) {
    flex-direction: column;
  }

  & .error__page__wrapper__img {
    @include img_box(50%, auto);
  }

  & .error__page__message {
    gap: 1vh;

    @include flex__box(column, flex-start);

    @media screen and (max-width: 800px) {
      align-items: center;
    }
  }

  & span {
    @include text(150%, 600, red);
  }

  & .error__page__home__btn {
    text-transform: uppercase;
    padding: 1vh 1.5vw;
    background-color: $contrastColor;
    box-shadow: 5px 5px 0px $basicColor;
    border-radius: 20px;
    transition: .4s;

    @include text(120%, 800, #FFF);

    @media screen and (max-width: 800px) {
      padding: 2vw 3vw;
      box-shadow: 10px 10px 0px $basicColor;
    }

    &:hover {
      box-shadow: unset;
      color: $accentColor;
    }
  }
}

// ******************************** 404 PAGE ******************************** \\