// IMPORT 
@use 'sass:math';
// IMPORT 

// ПЕРЕМЕННЫЕ 
$basicColor: #1A1A1A;
$contrastColor: #333333;
$accentColor: #08E7C5;
$fontColor: #747474;
$font1: 'Montserrat';
$font_size: 1.1vw;
$mfont_size: 4vw;
// ПЕРЕМЕННЫЕ 

// МИКСИНЫ
@mixin text($font_size: 100%, $weight: 400, $color: $fontColor, $fontName: $font1) {
  & {
    font-size: math.div($font_size, 100%) * $font_size;
    font-family: $fontName;
    font-weight: $weight;
    color: $color;
  }

  @media screen and (max-width: 767px) {
    & {
      font-size: math.div($mfont_size, 100%) * $font_size;
    }
  }
}

@mixin box($width: 100%, $padding: 0%, $height: auto, $margin_top: 0) {
  & {
    width: $width;
    padding-left: $padding;
    padding-right: $padding;
    margin-top: $margin_top;
    height: $height;
  }

  @media screen and (max-width: 767px) {
    & {
      width: 100%;
      padding: 0;
    }
  }
}

@mixin img_box($width, $height: auto, $fit: cover, $outline: unset) {
  & {
    width: $width;
    height: $height;
    outline: $outline;
    outline-offset: -2px;

    img {
      object-fit: $fit;
      height: 100%;
      width: 100%;
    }
  }

  @media screen and (max-width: 767px) {
    & {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      flex-grow: -1;
    }
  }
}

@mixin background($gradientMask, $url, $maskColor1, $maskColor2, $opacity) {
  @if $gradientMask ==true {
    $rgba_color1: rgba(red($maskColor1), green($maskColor1), blue($maskColor1), $opacity);
    $rgba_color2: rgba(red($maskColor2), green($maskColor2), blue($maskColor2), $opacity);

    & {
      background-image: linear-gradient($rgba_color1, $rgba_color2), url($url);
    }
  }
}

@mixin background_img($url, $gradientMask: false, $maskColor1: #000, $maskColor2: #000, $opacity: 0.45) {
  & {
    background-image: url($url);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;

    @include background($gradientMask, $url, $maskColor1, $maskColor2, $opacity);
  }

  @media screen and (max-width: 767px) {
    & {
      background-size: auto 100%;
    }
  }
}

@mixin img__mask($opacity: 60%, $color: $color1) {
  & {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($color, $opacity);
    z-index: 2;
  }
}

@mixin closer__btn {
  & {
    cursor: pointer;
    width: math.div(2, 1) * 1vw;
    height: math.div(2, 1) * 1vw;
    position: absolute;
    right: 0.5vw;
    top: 0.5vw;
    background: url(img/close.png), $color3;
    background-size: 70% 70%;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (max-width: 767px) {
      & {
        width: math.div(10, 1) * 1vw;
        height: math.div(10, 1) * 1vw;
      }
    }

    &:hover {
      background-color: red;
    }
  }
}

@mixin flex__box($direction: row, $align_items: unset, $justify_content: unset) {
  & {
    display: flex;
    flex-direction: $direction;
    align-items: $align_items;
    justify-content: $justify_content;
  }
}

@mixin h2__decor($colorShadow, $color) {
  text-shadow: 2px 2px 3px $colorShadow;
  text-transform: uppercase;

  @include text(200%, 600, $color);
}

// МИКСИНЫ

/* BASIC */
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Thin.ttf);
  font-weight: 200;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
}

strong {
  font-weight: 600;
}

body {
  max-width: 100vw;
  min-height: 500vw;
  overflow: hidden;
  overflow-y: auto;
  background-color: #FFF;
}

a {
  text-decoration: none;
  color: inherit;
  width: auto;
  height: auto;
}

table {
  border: none;
  border-collapse: collapse;
}

div {
  display: block;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: 'Montserrat';
}

img {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

span {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

p {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

ul {
  margin-top: 0.3vw;
  margin-left: 1%;
}

ul,
li {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

nav {
  display: flex;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

/* BASIC */


// ******************************** HEADER ******************************** \\

.header__logo__name {
  text-transform: uppercase;
  @include text(150%, 800, #FFF);

  @media screen and (max-width: 767px) {
    width: 100%;
    text-align: center;
  }
}

.header__line__block {
  background-color: $basicColor;
  padding: 0.5vw 2.5%;
  position: fixed;
  transform: translateY(-100px);
  transition: .4s;
  z-index: 999;

  @include box(100%, 2.5%);

  @media screen and (max-width: 767px) {
    position: relative;
    padding: 5vw 2.5%;
    transform: translateY(0);
  }
}

.header__menu__box {
  list-style: none;
  margin: 0;
  gap: 2vw;

  @include box(100%, 2.5%);
  @include flex__box(row, center, flex-end);

  @media screen and (max-width: 767px) {
    @include flex__box(column, center);
  }

  & li {
    @include text(100%, 600, $fontColor);
  }

  & .active__menu__item {
    color: #FFF;
  }
}

.header__content__block {
  padding: 5vw 2.5%;
  border-bottom: 5px solid #0001;
  min-height: 40vw;
  background-attachment: fixed;

  @include background_img('../img/header.jpg', true, #000, #000, 0.5);
  @include box(100%, 2.5%);
  @include flex__box(column, flex-start, center);

  @media screen and (max-width: 767px) {
    padding: 10vw 2.5%;
  }
}

.header__content__company__box {
  gap: 1vw;

  @include box(50%);
  @include flex__box(column, flex-end);

  @media screen and (max-width: 767px) {
    align-items: center;
    gap: 4vw;
  }

  & .header__company__title {
    text-transform: uppercase;
    text-shadow: 0px 0px 5px $basicColor;

    @include text(160%, 800, #FFF);
  }

  & .header__company__description {
    text-shadow: 0px 0px 1px #FFF7;

    @include text(120%, 600, #FFF9);
  }

  & .header__company__btn {
    padding: 0.5vw 1vw;
    background-color: $contrastColor;
    border-radius: 20px;
    box-shadow: 5px 5px 0px $basicColor;
    transition: .4s;
    cursor: pointer;

    @include text(140%, 600, #FFF);

    &:hover {
      box-shadow: unset;
      color: $accentColor;
    }

    @media screen and (max-width: 767px) {
      padding: 2vw 3vw;
      box-shadow: 10px 10px 0px $basicColor;
    }
  }
}

// ******************************** HEADER ******************************** \\

// ******************************** ABOUT__US ******************************** \\

.about__us__block {
  gap: 5%;
  padding: 4vw 7.5%;

  @include flex__box(row, stretch);
  @include box(100%, 7.5%);
}

.about__us__content {
  gap: 2vw;
  padding-bottom: 7.5vw;

  @include box(47.5%);
  @include flex__box(column);

  & span {
    text-transform: uppercase;

    @include text(120%, 600, $accentColor);
  }
}

.about__us__wrapper__img {
  @include box(3vw);

  & i {
    font-size: 3vw;
    color: #0003;
  }
}

.about__us__title {
  @include h2__decor(#000, #000);
}

.about__us__description {
  @include text(110%, 400, $fontColor);
}

.advantages__circle__box {
  position: relative;

  @include box(47.5%);
  @include flex__box(row, center, center);
}

.advantages__circle {
  position: relative;
  padding: 4vw 0;
  background-color: #FFF;
  gap: 1vw;
  border-radius: 50%;
  border: 3px solid #0003;

  @include flex__box(column, center, center);
  @include box(26vw, 0, 25vw);
}

.advantages__circle__content {
  background-color: $basicColor;
  border-radius: 50%;

  @include flex__box(column, center, center);
  @include box(16vw, 0, 15vw);
}

.advantages__title {
  text-align: center;
  transition: 1s;

  @include box(95%);
  @include text(120%, 800, $accentColor);
}

.advantages__description {
  text-align: center;
  transition: 1s;

  @include box(90%);
  @include text(100%, 600, #FFF);
}

@keyframes advantages {
  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1.2);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.adv__active {
  animation: advantages 3s linear infinite;
  background-color: #D6D6D6 !important;
}


.advantages__item {
  position: absolute;
  padding: 0.5vw;
  border-radius: 50%;
  background-color: $basicColor;
  cursor: pointer;
  transition: .3s;

  & i {
    font-size: 0.8vw;
    color: #FFF;
  }
}

.x-line {
  top: 47%;
}

.y-line {
  left: 47%;
}

.adv__left {
  left: -1vw;
}

.adv__right {
  right: -1vw;
}

.adv__top {
  top: -1vw;
}

.adv__bott {
  bottom: -1vw;
}

// ******************************** ABOUT__US ******************************** \\


// ******************************** WHY__US ******************************** \\

.why__us__block {
  position: relative;
  padding: 8vw 0;
  overflow: hidden;

  @include flex__box(column, center, center);
  @include box(100%);
}

.why__us__background__wrapper {
  position: absolute;
  background-size: cover;
  transition: transform .2s ease-out;
  width: 100%;
  height: 100%;
}

.why__us__background {
  width: 100%;
  height: 100%;
  background-image: url('../img/why_us.jpg');
  background-position: 10% 20% !important;
  transform: translateZ(-1px);

  @include background_img('../img/why_us.jpg', true, #000, #000, 0.5);
}

.why__us__title {
  text-transform: uppercase;
  text-align: center;

  @include h2__decor(#FFF, #FFF);
}

.why__us__content {
  position: relative;
  z-index: 2;

  @include box(60%);
}

.why__us__slider__block {
  cursor: grab;

  @include box(100%, 0, auto, 5vw);

  & .slick-slide {
    margin: 0 40px;
    box-sizing: border-box;
  }
}

.slick-list {
  @include box(100%, 2.5%);
}

.slick-prev:before,
.slick-next:before {
  content: '' !important;
}

.slick-prev {
  left: -3vw !important;
}

.slick-next {
  right: -2vw !important;
}

.slick-arrow img {
  position: absolute;

  @include img_box(1vw);
}

.why__us__slider__item {
  @include box(25%);
}

.why__us__item__content {
  gap: 1vw;

  @include box(100%);
  @include flex__box(column, center);


  & i {
    color: #FFF;
    font-size: 2vw;
  }

  & .why__us__slider__title {
    text-align: center;

    @include text(120%, 600, #FFF);
  }

  & .why__us__slider__description {
    text-align: center;

    @include text(100%, 400, $fontColor);
  }
}


// ******************************** WHY__US ******************************** \\

// ******************************** SERVICES ******************************** \\

.services__item{
  padding: 0;
  gap: 8vw;

  @include flex__box(row);
}

.services__content{
  padding-top: 7vw;
  gap: 0.5vw;

  @include box(35%);
  @include flex__box(column);

  & > span{
    letter-spacing: 5px;
    text-shadow: 2px 2px 5px #DBDBDA;

    @include text(130%, 600, #DBDBDA, 'ROBOTTO');
  }
}

.services__content__title{
  text-transform: uppercase;

  @include text(135%, 800, $basicColor);

  & span{
    text-shadow: 0px 0px 1px $basicColor;

    @include text(120%, 800, $basicColor);
  }
}

.services__content__description{
  margin: 2vw 0;

  @include text(110%, 600, $fontColor);
}

.services__wrapper__img{
  @include img_box(50%, 50vw);

  & img{
    filter: grayscale(90%);
  }
}

.services__btn{
  text-transform: uppercase;
  box-shadow: 10px 5px 5px $basicColor;
  padding: 0.5vw 1.5vw;
  background-color: $basicColor;
  transition: .4s;
  cursor: pointer;

  @include box(20%);
  @include text(110%, 600, #FFF);

  &:hover{
    color: $accentColor;
    box-shadow: unset;
  }
}

.reverse{
  flex-direction: row-reverse;

  & .services__content{
    text-align: right;
    align-items: flex-end;
  }
}

// ******************************** SERVICES ******************************** \\