/* BASIC */
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Medium.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Thin.ttf);
  font-weight: 200;
}
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  box-sizing: content-box;
}

strong {
  font-weight: 600;
}

body {
  max-width: 100vw;
  overflow: hidden;
  overflow-y: auto;
  background-color: #F7F7F7;
}

a {
  text-decoration: none;
  color: inherit;
  width: auto;
  height: auto;
}

table {
  border: none;
  border-collapse: collapse;
}

div {
  display: block;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: "Montserrat";
}

img {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

span {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

p {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

ul {
  margin-top: 0.3vw;
  margin-left: 1%;
}

ul,
li {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

nav {
  display: flex;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

/* BASIC */
.header__logo__wrapper {
  width: auto;
}
@media screen and (max-width: 800px) {
  .header__logo__wrapper {
    width: 20%;
  }
}
.header__logo__wrapper .custom-logo-link {
  display: block;
  padding: 1vh 0;
}
.header__logo__wrapper .header__logo__name {
  text-transform: uppercase;
}
.header__logo__wrapper .header__logo__name {
  font-size: 225%;
  font-family: "Montserrat";
  font-weight: 800;
  color: #FFF;
}
@media screen and (max-width: 800px) {
  .header__logo__wrapper .header__logo__name {
    font-size: 5.25vw;
  }
}
@media screen and (max-width: 800px) {
  .header__logo__wrapper .header__logo__name {
    width: auto;
    text-align: center;
  }
}

.header__line__block {
  background-color: #1A1A1A;
  position: fixed;
  padding: 0.5vw 2.5%;
  left: 0;
  top: -100px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
  z-index: 999;
}
.header__line__block {
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .header__line__block {
    width: 100%;
    padding: 0;
  }
}
.header__line__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .header__line__block {
    flex-direction: column;
    width: 95%;
    padding: 2vw 2.5%;
    top: 0;
  }
}
.header__line__box {
  width: auto;
}
.header__line__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .header__line__box {
    width: 100%;
  }
}

.burger__menu {
  display: none;
}
@media screen and (max-width: 800px) {
  .burger__menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 8vw;
    height: 5vw;
    padding: 0;
  }
  .burger__menu span {
    position: absolute;
    width: 100%;
    height: 1vw;
    background-color: #FFF;
    transition: 0.3s;
    border-radius: 5px;
  }
  .burger__menu span:nth-child(1) {
    top: 0;
  }
  .burger__menu span:nth-child(2) {
    width: 80%;
    top: 50%;
    transform: translateY(-50%);
  }
  .burger__menu span:nth-child(3) {
    bottom: 0;
  }
  .burger__menu.activeCloser span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  .burger__menu.activeCloser span:nth-child(2) {
    opacity: 0;
  }
  .burger__menu.activeCloser span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }
}

.menu__nav {
  width: auto;
}
@media screen and (max-width: 800px) {
  .menu__nav {
    display: none;
    width: 100%;
    align-items: center;
    padding: 2vw 0;
  }
}

.header__menu__box {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2vw;
}
.header__menu__box {
  width: 96%;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .header__menu__box {
    width: 100%;
    padding: 0;
  }
}
.header__menu__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (max-width: 800px) {
  .header__menu__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
  }
}
.header__menu__box li {
  transition: 0.7s;
}
.header__menu__box li {
  font-size: 100%;
  font-family: "Montserrat";
  font-weight: 600;
  color: #747474;
}
@media screen and (max-width: 800px) {
  .header__menu__box li {
    font-size: 3.5vw;
  }
}
.header__menu__box li:hover {
  color: #FFF;
}
.header__menu__box .active__menu__item {
  transition: 0.7s;
  color: #FFF;
}

.header__content__block {
  padding: 5vw 2.5%;
  border-bottom: 5px solid rgba(0, 0, 0, 0.0666666667);
}
.header__content__block {
  background: url("../img/header.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.header__content__block {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/header.jpg");
}
.header__content__block {
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-top: 0;
  height: 100dvh;
}
@media screen and (max-width: 800px) {
  .header__content__block {
    width: 100%;
    padding: 0;
  }
}
.header__content__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .header__content__block {
    width: 95%;
    padding: 10vw 2.5%;
  }
}

.header__content__block {
  background-attachment: fixed;
  background-size: auto 175%;
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 800px) {
  .header__content__block {
    background-size: auto 100%;
  }
}

.header__content__company__box {
  gap: 1vw;
}
.header__content__company__box {
  width: 50%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .header__content__company__box {
    width: 100%;
    padding: 0;
  }
}
.header__content__company__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: unset;
}
@media screen and (max-width: 800px) {
  .header__content__company__box {
    align-items: center;
    gap: 4vw;
  }
}
.header__content__company__box .header__company__title {
  text-transform: uppercase;
  text-shadow: 0px 0px 5px #1A1A1A;
}
.header__content__company__box .header__company__title {
  font-size: 256%;
  font-family: "Montserrat";
  font-weight: 800;
  color: #FFF;
}
@media screen and (max-width: 800px) {
  .header__content__company__box .header__company__title {
    font-size: 5.6vw;
  }
}
.header__content__company__box .header__company__description {
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.4666666667);
}
.header__content__company__box .header__company__description {
  font-size: 144%;
  font-family: "Montserrat";
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 800px) {
  .header__content__company__box .header__company__description {
    font-size: 4.2vw;
  }
}
.header__content__company__box .header__company__btn {
  padding: 0.5vw 1vw;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #1A1A1A;
  transition: 0.4s;
  cursor: pointer;
}
.header__content__company__box .header__company__btn {
  font-size: 196%;
  font-family: "Montserrat";
  font-weight: 600;
  color: #FFF;
}
@media screen and (max-width: 800px) {
  .header__content__company__box .header__company__btn {
    font-size: 4.9vw;
  }
}
.header__content__company__box .header__company__btn:hover {
  box-shadow: unset;
  color: #08E7C5;
}
@media screen and (max-width: 800px) {
  .header__content__company__box .header__company__btn {
    padding: 2vw 3vw;
    box-shadow: 10px 10px 0px #1A1A1A;
  }
}

.about__us__block {
  gap: 5%;
  padding: 4vw 7.5%;
}
.about__us__block {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: unset;
}
.about__us__block {
  width: 85%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .about__us__block {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 800px) {
  .about__us__block {
    flex-direction: column;
    width: 95%;
    padding: 5vw 2.5%;
  }
}

.about__us__content {
  gap: 2vw;
  padding-bottom: 7.5vw;
}
.about__us__content {
  width: 47.5%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .about__us__content {
    width: 100%;
    padding: 0;
  }
}
.about__us__content {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
}
@media screen and (max-width: 800px) {
  .about__us__content {
    gap: 5vw;
  }
}
.about__us__content span {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.about__us__content span {
  font-size: 144%;
  font-family: "ROBOTTO";
  font-weight: 600;
  color: #DBDBDA;
}
@media screen and (max-width: 800px) {
  .about__us__content span {
    font-size: 4.2vw;
  }
}

.about__us__wrapper__img {
  width: 3vw;
  height: auto;
}
.about__us__wrapper__img i {
  font-size: 3vw;
  color: rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 800px) {
  .about__us__wrapper__img i {
    font-size: 8vw;
  }
}

.about__us__title {
  text-shadow: 2px 2px 3px #000;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.about__us__title {
  font-size: 289%;
  font-family: "Montserrat";
  font-weight: 600;
  color: #000;
}
@media screen and (max-width: 800px) {
  .about__us__title {
    font-size: 5.95vw;
  }
}

.about__us__description {
  font-size: 121%;
  font-family: "Montserrat";
  font-weight: 400;
  color: #747474;
}
@media screen and (max-width: 800px) {
  .about__us__description {
    font-size: 3.85vw;
  }
}

.advantages__circle__box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.advantages__circle__box {
  width: 47.5%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .advantages__circle__box {
    width: 100%;
    padding: 0;
  }
}

.advantages__circle {
  position: relative;
  max-width: 400px;
  max-height: 400px;
  min-width: 28vw;
  min-height: 28vw;
  outline: 1px solid #000;
  background-color: #FFF;
  gap: 1vw;
  border-radius: 50%;
}
.advantages__circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .advantages__circle {
    display: none;
  }
}

.advantages__items__box {
  position: absolute;
  width: 100%;
  height: 100%;
}

.advantages__circle__content {
  background-color: #1A1A1A;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.advantages__circle__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.advantages__circle__content {
  width: 20vw;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .advantages__circle__content {
    width: 100%;
    padding: 0;
  }
}

.advantages__title {
  text-align: center;
  transition: 1s;
}
.advantages__title {
  width: 95%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .advantages__title {
    width: 100%;
    padding: 0;
  }
}
.advantages__title {
  font-size: 144%;
  font-family: "Montserrat";
  font-weight: 800;
  color: #FFF;
}
@media screen and (max-width: 800px) {
  .advantages__title {
    font-size: 4.2vw;
  }
}

.advantages__description {
  text-align: center;
  transition: 1s;
}
.advantages__description {
  width: 90%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .advantages__description {
    width: 100%;
    padding: 0;
  }
}
.advantages__description {
  font-size: 100%;
  font-family: "Montserrat";
  font-weight: 600;
  color: #FFF;
}
@media screen and (max-width: 800px) {
  .advantages__description {
    font-size: 3.5vw;
  }
}

@keyframes advantages {
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.adv__active {
  animation: advantages 3s linear infinite;
}

.advantages__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 3em;
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.advantages__item img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.advantages__mobile {
  display: none;
}
@media screen and (max-width: 800px) {
  .advantages__mobile {
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
    gap: 8vw;
  }
}

.advantages__mobile__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5%;
}
.advantages__mobile__item .advantages__mobile__wrapper__img {
  position: relative;
  width: 8vw;
  align-self: flex-start;
  padding: 2vw;
  overflow: hidden;
  background-color: #000;
  border-radius: 50%;
  z-index: 2;
}
.advantages__mobile__item .advantages__mobile__wrapper__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: invert(1);
}

.advantages__mobile__left__box {
  position: relative;
  width: 20%;
}
.advantages__mobile__left__box .advantages__mobile__stick {
  position: absolute;
  width: 0.5vw;
  height: 100%;
  top: 4vw;
  left: 4vw;
  background-color: #333;
  z-index: 1;
}

.advantages__mobile__content {
  width: 70%;
  padding: 3vh 2.5%;
  background-color: #000;
  color: #FFF;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.why__us__block {
  position: relative;
  padding: 8vw 0;
  overflow: hidden;
}
.why__us__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.why__us__block {
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .why__us__block {
    width: 100%;
    padding: 0;
  }
}

.why__us__background__wrapper {
  position: absolute;
  background-size: cover;
  transition: transform 0.2s ease-out;
  width: 100%;
  height: 100%;
}

.why__us__background {
  background: url("../img/why_us.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.why__us__background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/why_us.jpg");
}

.why__us__background {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: 10% 30% !important;
  transform: translateZ(-1px);
}

.why__us__title {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px 3px #FFF;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.why__us__title {
  font-size: 289%;
  font-family: "Montserrat";
  font-weight: 600;
  color: #FFF;
}
@media screen and (max-width: 800px) {
  .why__us__title {
    font-size: 5.95vw;
  }
}

.why__us__content {
  position: relative;
  z-index: 2;
}
.why__us__content {
  width: 60%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .why__us__content {
    width: 100%;
    padding: 0;
  }
}
.why__us__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
}
@media screen and (max-width: 800px) {
  .why__us__content {
    padding: 5vw 0;
  }
}

.why__us__slider__block {
  cursor: grab;
}
.why__us__slider__block {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 5vw;
  height: auto;
}
@media screen and (max-width: 800px) {
  .why__us__slider__block {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 800px) {
  .why__us__slider__block {
    width: 95%;
    padding: 0 2.5%;
  }
}
.why__us__slider__block .slick-slide {
  margin: 0 40px;
  box-sizing: border-box;
}

.why__us__slider__block.slick-slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.slick-list {
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .slick-list {
    width: 100%;
    padding: 0;
  }
}

.slick-prev:before,
.slick-next:before {
  content: "" !important;
}

@media screen and (max-width: 800px) {
  .slick-prev {
    left: -2.5% !important;
  }
}

@media screen and (max-width: 800px) {
  .slick-next {
    right: -2.5% !important;
  }
}

.slick-arrow img {
  position: absolute;
}
.slick-arrow img {
  width: 1vw;
  height: auto;
  outline: unset;
  outline-offset: -2px;
}
.slick-arrow img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .slick-arrow img {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-grow: -1;
  }
}

.why__us__slider__item {
  width: 25%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .why__us__slider__item {
    width: 100%;
    padding: 0;
  }
}

.why__us__item__content {
  gap: 1vw;
}
.why__us__item__content {
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .why__us__item__content {
    width: 100%;
    padding: 0;
  }
}
.why__us__item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
}
.why__us__item__content i {
  color: #FFF;
  font-size: 2vw;
}
@media screen and (max-width: 800px) {
  .why__us__item__content i {
    font-size: 5vw;
  }
}
.why__us__item__content .why__us__slider__title {
  text-align: center;
}
.why__us__item__content .why__us__slider__title {
  font-size: 144%;
  font-family: "Montserrat";
  font-weight: 600;
  color: #FFF;
}
@media screen and (max-width: 800px) {
  .why__us__item__content .why__us__slider__title {
    font-size: 4.2vw;
  }
}
.why__us__item__content .why__us__slider__description {
  text-align: center;
}
.why__us__item__content .why__us__slider__description {
  font-size: 100%;
  font-family: "Montserrat";
  font-weight: 400;
  color: #747474;
}
@media screen and (max-width: 800px) {
  .why__us__item__content .why__us__slider__description {
    font-size: 3.5vw;
  }
}

.services__block {
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .services__block {
    width: 100%;
    padding: 0;
  }
}

.services__box {
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .services__box {
    width: 100%;
    padding: 0;
  }
}
.services__box {
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: unset;
}

.services__item {
  padding: 0;
  gap: 8vw;
}
.services__item {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: unset;
}
@media screen and (max-width: 800px) {
  .services__item {
    flex-direction: column;
    gap: 5vw;
  }
}

.services__left {
  position: relative;
  left: -100vw;
}
@media screen and (max-width: 800px) {
  .services__left {
    left: 0;
  }
}

.services__content {
  padding-top: 7vw;
  gap: 0.5vw;
}
.services__content {
  width: 35%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .services__content {
    width: 100%;
    padding: 0;
  }
}
.services__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: unset;
}
@media screen and (max-width: 800px) {
  .services__content {
    width: 95%;
    padding: 1vw 2.5%;
  }
}
.services__content > span {
  letter-spacing: 5px;
  text-shadow: 2px 2px 5px #DBDBDA;
}
.services__content > span {
  font-size: 169%;
  font-family: "ROBOTTO";
  font-weight: 600;
  color: #DBDBDA;
}
@media screen and (max-width: 800px) {
  .services__content > span {
    font-size: 4.55vw;
  }
}
@media screen and (max-width: 800px) {
  .services__content > span {
    font-size: 4vw;
  }
}

.services__content__title {
  text-transform: uppercase;
}
.services__content__title {
  font-size: 182.25%;
  font-family: "Montserrat";
  font-weight: 800;
  color: #1A1A1A;
}
@media screen and (max-width: 800px) {
  .services__content__title {
    font-size: 4.725vw;
  }
}
@media screen and (max-width: 800px) {
  .services__content__title {
    font-size: 4.5vw;
  }
}
.services__content__title span {
  text-shadow: 0px 0px 1px #1A1A1A;
}
.services__content__title span {
  font-size: 144%;
  font-family: "Montserrat";
  font-weight: 800;
  color: #1A1A1A;
}
@media screen and (max-width: 800px) {
  .services__content__title span {
    font-size: 4.2vw;
  }
}
@media screen and (max-width: 800px) {
  .services__content__title span {
    font-size: 4.5vw;
  }
}

.services__content__description {
  margin: 2vw 0;
}
.services__content__description {
  font-size: 121%;
  font-family: "Montserrat";
  font-weight: 600;
  color: #747474;
}
@media screen and (max-width: 800px) {
  .services__content__description {
    font-size: 3.85vw;
  }
}
@media screen and (max-width: 800px) {
  .services__content__description {
    font-size: 3.5vw;
  }
}

.services__wrapper__img {
  width: 50%;
  height: auto;
  outline: unset;
  outline-offset: -2px;
}
.services__wrapper__img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .services__wrapper__img {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-grow: -1;
  }
}
@media screen and (max-width: 800px) {
  .services__wrapper__img {
    height: 45vh;
  }
}
.services__wrapper__img img {
  filter: grayscale(90%);
}

.services__btn {
  text-transform: uppercase;
  box-shadow: 10px 5px 5px #1A1A1A;
  padding: 0.5vw 1.5vw;
  background-color: #1A1A1A;
  transition: 0.4s;
  cursor: pointer;
}
.services__btn {
  font-size: 121%;
  font-family: "Montserrat";
  font-weight: 600;
  color: #FFF;
}
@media screen and (max-width: 800px) {
  .services__btn {
    font-size: 3.85vw;
  }
}
@media screen and (max-width: 800px) {
  .services__btn {
    font-size: 3.5vw;
  }
}
.services__btn:hover {
  color: #08E7C5;
  box-shadow: unset;
}

.services__right {
  position: relative;
  right: -100vw;
  flex-direction: row-reverse;
}
@media screen and (max-width: 800px) {
  .services__right {
    right: 0;
    flex-direction: column-reverse;
  }
}
.services__right .services__content {
  text-align: right;
  align-items: flex-end;
}

.questions__block {
  background-color: #000;
  padding: 6vw 0;
}
.questions__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
}
.questions__block {
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .questions__block {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 800px) {
  .questions__block {
    padding: 5vw 0;
  }
}

.questions__content {
  gap: 1vw;
}
.questions__content {
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .questions__content {
    width: 100%;
    padding: 0;
  }
}
.questions__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
}
@media screen and (max-width: 800px) {
  .questions__content {
    gap: 3vw;
  }
}

.questions__title {
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 0px 0px 3px #FFF;
}
.questions__title {
  font-size: 196%;
  font-family: "Montserrat";
  font-weight: 600;
  color: #FFF;
}
@media screen and (max-width: 800px) {
  .questions__title {
    font-size: 4.9vw;
  }
}
@media screen and (max-width: 800px) {
  .questions__title {
    font-size: 4.5vw;
  }
}
.questions__title span {
  font-size: 0.7vw;
}
@media screen and (max-width: 800px) {
  .questions__title span {
    font-size: 4vw;
  }
}

.questions__subtitle {
  text-align: center;
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
}
.questions__subtitle {
  width: 60%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .questions__subtitle {
    width: 100%;
    padding: 0;
  }
}
.questions__subtitle {
  font-size: 121%;
  font-family: "Montserrat";
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 800px) {
  .questions__subtitle {
    font-size: 3.85vw;
  }
}
@media screen and (max-width: 800px) {
  .questions__subtitle {
    font-size: 3vw;
  }
}

.questions__btn {
  margin-top: 1vw;
  padding: 0.3vw 0.5vw;
  border: 3px solid #FFF;
  background-color: unset;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.4s;
}
.questions__btn {
  font-size: 90.25%;
  font-family: "Montserrat";
  font-weight: 800;
  color: #FFF;
}
@media screen and (max-width: 800px) {
  .questions__btn {
    font-size: 3.325vw;
  }
}
@media screen and (max-width: 800px) {
  .questions__btn {
    font-size: 3vw;
    padding: 0.5vw 1.5vw;
  }
}
.questions__btn:hover {
  background-color: #FFF;
  color: #000;
}

.portfolio__block {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 4vw;
  height: auto;
}
@media screen and (max-width: 800px) {
  .portfolio__block {
    width: 100%;
    padding: 0;
  }
}
.portfolio__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
}

.portfolio__heade__box {
  gap: 1vw;
}
.portfolio__heade__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
}
.portfolio__heade__box {
  width: 50%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .portfolio__heade__box {
    width: 100%;
    padding: 0;
  }
}
.portfolio__heade__box > span {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 2vw;
  text-shadow: 0px 0px 2px #DBDBDA;
}
.portfolio__heade__box > span {
  font-size: 144%;
  font-family: "ROBOTTO";
  font-weight: 600;
  color: #DBDBDA;
}
@media screen and (max-width: 800px) {
  .portfolio__heade__box > span {
    font-size: 4.2vw;
  }
}

.separator__line {
  width: 2px;
  height: 55px;
  background-color: #747474;
}

.portfolio__title {
  text-transform: uppercase;
  text-shadow: 2px 2px 3px #000;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.portfolio__title {
  font-size: 289%;
  font-family: "Montserrat";
  font-weight: 600;
  color: #000;
}
@media screen and (max-width: 800px) {
  .portfolio__title {
    font-size: 5.95vw;
  }
}

.portfolio__subtitle {
  text-align: center;
  margin-top: 1vw;
}
.portfolio__subtitle {
  font-size: 100%;
  font-family: "Montserrat";
  font-weight: 600;
  color: #747474;
}
@media screen and (max-width: 800px) {
  .portfolio__subtitle {
    font-size: 3.5vw;
  }
}

.portfolio__categories__box {
  gap: 3vw;
}
.portfolio__categories__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
}
.portfolio__categories__box {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 3vw;
  height: auto;
}
@media screen and (max-width: 800px) {
  .portfolio__categories__box {
    width: 100%;
    padding: 0;
  }
}

.category__line {
  gap: 1vw;
}
.category__line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: unset;
}

.category__item__title {
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.4s;
}
.category__item__title {
  font-size: 121%;
  font-family: "Montserrat";
  font-weight: 800;
  color: #747474;
}
@media screen and (max-width: 800px) {
  .category__item__title {
    font-size: 3.85vw;
  }
}
.category__item__title:hover {
  color: #000;
}

.category__active {
  color: #000;
}

.category__content__box {
  flex-wrap: wrap;
}
.category__content__box {
  display: flex;
  flex-direction: row;
  align-items: unset;
  justify-content: unset;
}
.category__content__box {
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .category__content__box {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 800px) {
  .category__content__box {
    justify-content: space-around;
    align-items: flex-start;
    align-content: baseline;
    gap: 1vw;
  }
}

.category__product {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.category__product {
  width: 25%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  height: 20vw;
}
@media screen and (max-width: 800px) {
  .category__product {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 800px) {
  .category__product {
    width: 47.5%;
    flex-direction: column;
    height: auto;
    flex-grow: 0;
  }
}
.category__product:hover .category__product__content__box {
  bottom: 0;
}
.category__product:hover .category__product__wrapper__img {
  top: -3vw;
}

.category__product__wrapper__img {
  position: relative;
  top: 0;
  left: 0;
  transition: 0.4s;
}
.category__product__wrapper__img {
  width: 100%;
  height: 100%;
  outline: unset;
  outline-offset: -2px;
}
.category__product__wrapper__img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .category__product__wrapper__img {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-grow: -1;
  }
}
@media screen and (max-width: 800px) {
  .category__product__wrapper__img {
    height: 40vw;
  }
}

.category__product__content__box {
  position: absolute;
  left: 0;
  bottom: -3vw;
  padding: 0.5vw 2.5%;
  background-color: #000;
  transition: 0.4s;
}
.category__product__content__box {
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-top: 0;
  height: 3vw;
}
@media screen and (max-width: 800px) {
  .category__product__content__box {
    width: 100%;
    padding: 0;
  }
}
.category__product__content__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .category__product__content__box {
    position: relative;
    height: auto;
    width: 95%;
    padding: 1vw 2.5%;
    bottom: 0;
  }
}

.category__product__title {
  font-size: 100%;
  font-family: "Montserrat";
  font-weight: 800;
  color: #FFF;
}
@media screen and (max-width: 800px) {
  .category__product__title {
    font-size: 3.5vw;
  }
}

.category__product__subtitle {
  font-size: 81%;
  font-family: "Montserrat";
  font-weight: 600;
  color: #747474;
}
@media screen and (max-width: 800px) {
  .category__product__subtitle {
    font-size: 3.15vw;
  }
}

.reviews__block {
  text-align: center;
}
.reviews__block {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20vh;
  height: auto;
}
@media screen and (max-width: 800px) {
  .reviews__block {
    width: 100%;
    padding: 0;
  }
}
.reviews__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
}
.reviews__block h2 {
  text-shadow: 2px 2px 3px #000;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.reviews__block h2 {
  font-size: 289%;
  font-family: "Montserrat";
  font-weight: 600;
  color: #000;
}
@media screen and (max-width: 800px) {
  .reviews__block h2 {
    font-size: 5.95vw;
  }
}

.customers__img__box {
  gap: 1vw 1%;
}
.customers__img__box {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 10vh;
  height: auto;
}
@media screen and (max-width: 800px) {
  .customers__img__box {
    width: 100%;
    padding: 0;
  }
}
.customers__img__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.customer__wrapper__img {
  border-radius: 50%;
  opacity: 0.5;
  overflow: hidden;
  aspect-ratio: 3/3;
  cursor: pointer;
  transition: 0.4s;
}
.customer__wrapper__img {
  width: unset;
  height: unset;
  outline: unset;
  outline-offset: -2px;
}
.customer__wrapper__img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .customer__wrapper__img {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-grow: -1;
  }
}
@media screen and (max-width: 800px) {
  .customer__wrapper__img {
    width: 8vw;
  }
}
.customer__wrapper__img:hover {
  opacity: 1;
}

.customer__active {
  position: relative;
  opacity: 1;
}
.customer__active::after {
  content: "\f10e";
  position: absolute;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  top: 60%;
  left: 55%;
  color: #FFF;
  font-size: 1vw;
}
@media screen and (max-width: 800px) {
  .customer__active::after {
    font-size: 4vw;
  }
}

.customers__review__box {
  gap: 0.3vw;
  margin-bottom: 10vh;
  text-align: center;
}
.customers__review__box {
  width: 55%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-top: 5vh;
  height: auto;
}
@media screen and (max-width: 800px) {
  .customers__review__box {
    width: 100%;
    padding: 0;
  }
}
.customers__review__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
}
@media screen and (max-width: 800px) {
  .customers__review__box {
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}
.customers__review__box .customer__review__content {
  font-size: 100%;
  font-family: "Montserrat";
  font-weight: 600;
  color: #1A1A1A;
}
@media screen and (max-width: 800px) {
  .customers__review__box .customer__review__content {
    font-size: 3.5vw;
  }
}
.customers__review__box .customer__review__fullname {
  margin-top: 3vh;
}
.customers__review__box .customer__review__fullname {
  font-size: 121%;
  font-family: "Montserrat";
  font-weight: 600;
  color: #1A1A1A;
}
@media screen and (max-width: 800px) {
  .customers__review__box .customer__review__fullname {
    font-size: 3.85vw;
  }
}
.customers__review__box .customer__review__profession {
  font-size: 100%;
  font-family: "Montserrat";
  font-weight: 600;
  color: #DBDBDA;
}
@media screen and (max-width: 800px) {
  .customers__review__box .customer__review__profession {
    font-size: 3.5vw;
  }
}

.separator__stick {
  background-color: #DBDBDA;
  box-shadow: 0px -1px 5px #DBDBDA;
}
.separator__stick {
  width: 40%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  height: 0.1vh;
}
@media screen and (max-width: 800px) {
  .separator__stick {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 800px) {
  .separator__stick {
    width: 40%;
  }
}

.manufacturers__block {
  gap: 5%;
  padding: 10vh 2.5%;
}
.manufacturers__block {
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .manufacturers__block {
    width: 100%;
    padding: 0;
  }
}
.manufacturers__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .manufacturers__block {
    width: 95%;
    padding: 10vh 2.5%;
    flex-direction: column;
  }
}

.manufacturer__wrapper__img {
  aspect-ratio: 1/1;
}
.manufacturer__wrapper__img {
  width: 10%;
  height: auto;
  outline: unset;
  outline-offset: -2px;
}
.manufacturer__wrapper__img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .manufacturer__wrapper__img {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-grow: -1;
  }
}
@media screen and (max-width: 800px) {
  .manufacturer__wrapper__img {
    width: 55%;
    aspect-ratio: unset;
  }
}

.contact__form__block {
  padding: 0vh 2.5%;
  padding-top: 8vh;
  gap: 5vh;
  background-color: #101010;
}
.contact__form__block {
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .contact__form__block {
    width: 100%;
    padding: 0;
  }
}
.contact__form__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
}
@media screen and (max-width: 800px) {
  .contact__form__block {
    width: 95%;
    padding: 0vh 2.5%;
    padding-top: 8vh;
  }
}

.contact__form__headers {
  gap: 2vh;
}
.contact__form__headers {
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .contact__form__headers {
    width: 100%;
    padding: 0;
  }
}
.contact__form__headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
}
.contact__form__headers i {
  font-size: 3em;
  color: #FFF;
  font-weight: 400;
}
.contact__form__headers > span {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-top: 2vh;
  text-shadow: 0px 0px 2px #DBDBDA;
}
.contact__form__headers > span {
  font-size: 100%;
  font-family: "ROBOTTO";
  font-weight: 600;
  color: #DBDBDA;
}
@media screen and (max-width: 800px) {
  .contact__form__headers > span {
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 800px) {
  .contact__form__headers > span {
    font-size: 2.5vw;
  }
}
.contact__form__headers h2 {
  text-shadow: 2px 2px 3px #FFF;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.contact__form__headers h2 {
  font-size: 289%;
  font-family: "Montserrat";
  font-weight: 600;
  color: #FFF;
}
@media screen and (max-width: 800px) {
  .contact__form__headers h2 {
    font-size: 5.95vw;
  }
}

.contact__details__box {
  position: relative;
  padding-bottom: 8vh;
  gap: 5%;
}
.contact__details__box {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 5vh;
  height: auto;
}
@media screen and (max-width: 800px) {
  .contact__details__box {
    width: 100%;
    padding: 0;
  }
}
.contact__details__box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .contact__details__box {
    padding-bottom: 8vh;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
  }
}
.contact__details__box::after {
  content: "";
  position: absolute;
  top: 99%;
  left: 50%;
  transform: translateX(-50%);
  width: 2.5em;
  aspect-ratio: 2/1;
  background-color: #101010;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  z-index: 3;
}

.contact__details__item {
  gap: 2vh;
}
.contact__details__item {
  width: 20%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .contact__details__item {
    width: 100%;
    padding: 0;
  }
}
.contact__details__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
}
@media screen and (max-width: 800px) {
  .contact__details__item {
    width: 60%;
    gap: 4vh;
  }
}
.contact__details__item i {
  font-size: 2em;
  color: #FFF;
  font-weight: 600;
}
.contact__details__item .detail__item__text {
  text-align: center;
}
.contact__details__item .detail__item__text {
  font-size: 100%;
  font-family: "Montserrat";
  font-weight: 600;
  color: #DBDBDA;
}
@media screen and (max-width: 800px) {
  .contact__details__item .detail__item__text {
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 800px) {
  .contact__details__item .detail__item__text {
    font-size: 2.5vw;
  }
}

.contact__form__block .wpforms-container {
  width: 80%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .contact__form__block .wpforms-container {
    width: 100%;
    padding: 0;
  }
}
.contact__form__block .wpforms-container .wpforms-confirmation-container-full {
  background: unset;
  padding: 10vh 0;
  border: unset;
  outline: 1px solid rgba(255, 255, 255, 0.2);
  outline-offset: -1px;
  gap: 10vh;
}
.contact__form__block .wpforms-container .wpforms-confirmation-container-full {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact__form__block .wpforms-container .wpforms-confirmation-container-full p {
  text-align: center;
  color: #DBDBDA;
}
.contact__form__block .wpforms-container .wpforms-confirmation-container-full p::before {
  position: relative;
  content: "\f560";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 2em;
  color: green;
  display: block;
  margin-bottom: 5vh;
}
.contact__form__block .wpforms-container form {
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .contact__form__block .wpforms-container form {
    width: 100%;
    padding: 0;
  }
}
.contact__form__block .wpforms-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
}
.contact__form__block .wpforms-container form .wpforms-field-container {
  flex-wrap: wrap;
  gap: 1vh;
}
.contact__form__block .wpforms-container form .wpforms-field-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.contact__form__block .wpforms-container form .contact__form__input {
  width: 32%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .contact__form__block .wpforms-container form .contact__form__input {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 1200px) {
  .contact__form__block .wpforms-container form .contact__form__input {
    width: 100%;
  }
}
.contact__form__block .wpforms-container form .contact__form__textarea {
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .contact__form__block .wpforms-container form .contact__form__textarea {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 1200px) {
  .contact__form__block .wpforms-container form .contact__form__textarea {
    width: 100%;
  }
}
.contact__form__block .wpforms-container form .wpforms-field {
  padding: 0;
}
.contact__form__block .wpforms-container form .wpforms-field > input, .contact__form__block .wpforms-container form .wpforms-field > textarea {
  margin: 2vh 0;
  padding: 1vh 2% !important;
  height: 100%;
  font-size: 1.3vw !important;
  font-weight: 600;
  color: #FFF !important;
  background-color: unset !important;
  outline: 1px solid rgba(255, 255, 255, 0.2);
  outline-offset: -1px;
  transition: 0.4s !important;
}
@media screen and (max-width: 1200px) {
  .contact__form__block .wpforms-container form .wpforms-field > input, .contact__form__block .wpforms-container form .wpforms-field > textarea {
    font-size: 2vw !important;
  }
}
.contact__form__block .wpforms-container form input::placeholder, .contact__form__block .wpforms-container form textarea::placeholder {
  color: #FFF !important;
}
.contact__form__block .wpforms-container form input:focus, .contact__form__block .wpforms-container form textarea:focus {
  outline: 1px solid #FFF !important;
  outline-offset: -1px !important;
  border: unset !important;
  background-color: rgba(255, 255, 255, 0.0666666667) !important;
}
.contact__form__block .wpforms-container form em.wpforms-error {
  position: absolute !important;
  bottom: -5px;
}
.contact__form__block .wpforms-container form .wpforms-field-gdpr-checkbox label {
  color: #FFF !important;
}
.contact__form__block .wpforms-container form .wpforms-field-gdpr-checkbox .wpforms-field-required {
  margin-bottom: 1.5vw;
}
.contact__form__block .wpforms-container form .wpforms-submit {
  margin-top: 5vh;
  height: 100%;
  padding: 2vh 2vw;
  text-transform: uppercase;
  font-weight: 800;
  background-color: unset !important;
  outline: 1px solid rgba(255, 255, 255, 0.2);
  outline-offset: -1px;
  transition: 0.4s;
}
@media screen and (max-width: 800px) {
  .contact__form__block .wpforms-container form .wpforms-submit {
    padding: 2vh 4vw;
  }
}
.contact__form__block .wpforms-container form .wpforms-submit:hover {
  color: #000;
  background-color: #D8D8D8 !important;
}
.contact__form__block .wpforms-container form .wpforms-submit:focus::after {
  border: unset !important;
  outline: 1px solid rgba(255, 255, 255, 0.2);
  outline-offset: -1px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.contact__form__block .wpforms-container form .wpforms-submit:focus {
  transform: scale(0.9);
}

.map__block {
  position: relative;
  z-index: 2;
}
.map__block {
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .map__block {
    width: 100%;
    padding: 0;
  }
}
.map__block {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: unset;
}
@media screen and (max-width: 800px) {
  .map__block {
    flex-direction: column;
  }
}

.banner__box {
  position: relative;
}
.banner__box {
  width: 50%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  height: 60vh;
}
@media screen and (max-width: 800px) {
  .banner__box {
    width: 100%;
    padding: 0;
  }
}
.banner__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  .banner__box {
    height: auto;
    padding-top: 6vh;
    padding-bottom: 5vh;
    background-color: #171717;
  }
}
.banner__box .banner__img {
  position: relative;
  z-index: 1;
  background-image: url("../img/banner__map.jpg");
  background-size: 215% auto;
  background-position: 5% 50%;
  background-repeat: no-repeat;
  filter: sepia(20%);
}
.banner__box .banner__img {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  height: 100%;
}
@media screen and (max-width: 800px) {
  .banner__box .banner__img {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 800px) {
  .banner__box .banner__img {
    background-image: none;
  }
}
.banner__box .banner__mask__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 23, 23, 0.7);
  z-index: 2;
}
.banner__box .banner__content {
  position: absolute;
  text-align: end;
  gap: 2vh;
  z-index: 3;
}
.banner__box .banner__content {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .banner__box .banner__content {
    width: 100%;
    padding: 0;
  }
}
.banner__box .banner__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: unset;
}
@media screen and (max-width: 800px) {
  .banner__box .banner__content {
    position: relative;
    text-align: center;
    align-items: center;
  }
}
.banner__box .banner__content span {
  text-transform: uppercase;
  letter-spacing: 5px;
}
.banner__box .banner__content span {
  font-size: 100%;
  font-family: "ROBOTTO";
  font-weight: 600;
  color: #33D1C8;
}
@media screen and (max-width: 800px) {
  .banner__box .banner__content span {
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 800px) {
  .banner__box .banner__content span {
    font-size: 4vw;
  }
}
.banner__box .banner__content h2 {
  font-size: 256%;
  font-family: "Montserrat";
  font-weight: 800;
  color: #FFF;
}
@media screen and (max-width: 800px) {
  .banner__box .banner__content h2 {
    font-size: 5.6vw;
  }
}
@media screen and (max-width: 800px) {
  .banner__box .banner__content h2 {
    font-size: 3.5vw;
  }
}

.map__box {
  width: 50%;
  padding-left: 0%;
  padding-right: 0%;
  margin-top: 0;
  height: auto;
}
@media screen and (max-width: 800px) {
  .map__box {
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 800px) {
  .map__box {
    height: 40vh;
  }
}
.map__box iframe {
  width: 100%;
  height: 100%;
}